# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

title: DEGN Docs
description: DEGN Docs
baseurl: "" # the subpath of your site, e.g. /blog

url: "https://airmoney-degn.github.io" # the base hostname & protocol for your site, e.g. http://example.com
baseurl: ""

# Theme
remote_theme: "just-the-docs/just-the-docs"

# Just the Docs options
search_enabled: true
heading_anchors: true
color_scheme: light   # or "dark"

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - DEVELOPMENT.md
